.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 100, 111, 1) 0%,
    rgba(0, 255, 170, 0.971) 150%
  );
}
.header {
  width: 100%;
  /* height: 10%; */
  top: 0;
  position: absolute;
  font-weight: 700;
  font-size: 25px;
  /* color: rgb(9, 96, 102); */
  color: rgb(119, 8, 54);
  z-index: -1;
  font-family: sans-serif;
  background: linear-gradient(45deg, cadetblue, pink);
}
/* .footer {
  height: 10vh;
  width: 100%;
  background: linear-gradient(45deg, cadetblue, pink);
  color: linear-gradient(45deg, rgb(108, 209, 212), rgb(184, 204, 69));
} */
.iframe {
  width: 100vw;
  height: 70vh;
}

.input {
  width: 50%;
  height: 50px;
  font-size: 24px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  margin: 20px 0;
}

.type-wrap {
  font-size: 36px;
  /* position: sticky;
  z-index: -1; */
  color: white;
}
