.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 100, 111, 1) 0%,
    rgba(0, 212, 255, 0.9710477941176471) 150%
  );
}

.iframe {
  width: 100vw;
  height: 70vh;
}

.input {
  width: 50%;
  height: 50px;
  font-size: 24px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  margin: 20px 0;
}

.type-wrap {
  font-size: 36px;
  color: white;
}
