.footer {
  width: 100%;
  /* padding: 20px 0px; */
  background: linear-gradient(45deg, cadetblue, pink);
}
.footer-content {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.contactnum {
  font-size: 30px;
  font-weight: 600;
  color: rgb(119, 8, 54) !important;
}

.callus {
  font-size: 12px;
  font-weight: 300;
}
.link-text {
  color: rgb(119, 8, 54);
}

.footerImg {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quick-links {
  display: flex;
  flex-direction: column;
}

.footerbox2 {
  padding: 50px 50px;

  background: linear-gradient(45deg, cadetblue, pink);
  /* background-color: #ffa20d; */
}
.call-us {
  display: flex;
  flex-direction: column;
}
.copyright {
  color: white;
  padding: 10px;
}
